.tasksContainer {
  border-radius: 20px;
  padding-top: 10px;
  background-color: white;
  padding-bottom: 15px;
  color: black;
  grid-area: 1 / 1 / 2 / 2;
  height: auto;
}
.tasksContainer h2 {
  font-size: 15px;
  border-radius: 20%;
  margin-left: 22px;
  margin-bottom: 25px;
}
.yourTasksIcon {
  max-width: 20px;
  float: right;
  margin-right: 20px;
}
.task {
  border-radius: 5px;
  margin: 2px 17px 0px 12px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
}
.task p {
  margin: 6px;
}
.task:hover {
  background-color: rgba(45, 141, 210, 0.441);
}

.taskIcon {
  align-self: center;
  max-width: 10px;
  float: left;
  margin-right: 10px;
  justify-content: center;
  align-content: center;
}
